* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: #f0f0f0;
    font-family: "Barriecito", system-ui;
}

#tela{
    position: relative;
    min-height: 500px;
    width: 100%;
    height: 500px;
    background-image: url('IMG/Banner.jpg');
    background-size: 100% 100%;
}  

#tela-Preta{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.514);
    z-index: 2;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

header h1 {
    color: white;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 10px;
    font-size: 100px;
    text-align: center;
    letter-spacing: 20px;
    font-family: "Gluten", cursive;
    font-weight: 200;
}

#cepara-header {
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 6px;
    background-color: #7b3911;
    z-index: 3;
}

nav {
    position: absolute;
    justify-content: space-around;
    top: 472px;
    left: 50%;
    width: 4000px;
    max-width: 90%;
    transform: translateX(-50%);
    background-color: #7b3911;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

nav a {
    color: #f6f6e9;
    text-decoration: none;
    font-family: "Gluten", cursive;
    font-size: 1.5rem;
    font-weight: 500;
    transition: color 0.3s;
    letter-spacing: 5px;
}

nav a:hover {
    color: #eba327;
}

section {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 150px);
    padding: 100px 100px 50px 100px;
    background: #dc661f;
}

#caixa {
    width: 100%;
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    header h1 {
        font-size: 60px;
        -webkit-text-stroke-width: 2px;
    }

    nav {
        width: 95%;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    section {
        padding: 100px 20px 50px 20px;
    }
}