* {
    margin: 0;
    padding: 0;
    display: flexbox;
}

body {
    position: relative;
}

header {
    display: flex;
    width: 100%;
    height: 500px;
}

.quadrado {
    position: absolute;
    width: 800px;
    height: 700px;
    top: -300px;
    left: -200px;
    background-color: red;
    z-index: 1;
    border-radius: 30px;
    transform: rotate(35deg);
    animation: roda 300s ease infinite;
}

nav {
    position: absolute;
    z-index: 2;
    background-color: blue;
    display: flex;
    justify-content: space-around;
    width: 40%;
    padding: 5px;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
}

nav a{
    color: aliceblue;
    text-decoration: none;

}

@keyframes roda{
    to{
        transform: rotate(0);
    }from{
        transform: rotate(360deg);
    }
}