* {
    margin: 0;
    padding: 0;
    display: flexbox;
}

body {
    position: relative;
}

header {
    display: flex;
    width: 100%;
    height: 500px;
}

.quadrado {
    position: absolute;
    width: 800px;
    height: 700px;
    top: -300px;
    left: -200px;
    background-color: red;
    z-index: 1;
    border-radius: 30px;
    transform: rotate(35deg);
    /* animation: roda 300s ease infinite; */
}

nav {
    position: absolute;
    z-index: 2;
    background-color: blue;
    display: flex;
    justify-content: space-around;
    width: 40%;
    padding: 5px;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
}

nav a {
    color: aliceblue;
    text-decoration: none;

}

.letreiro {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 100px;
    text-transform: uppercase;
    z-index: 2;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: auto;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1000;
    background-color: black;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 100%;

}

#Carrossel {
    width: 100%;
    height: 600px;
    margin-top: 200px;

    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;

    scroll-snap-type: x mandatory;
    gap: 20px;

    padding: 0 40px;

    background-color: aquamarine;
    box-sizing: border-box;
}

#Carrossel::-webkit-scrollbar {
    display: none;
}

.Card {
    width: 85vw;       /* ocupa 85% da tela — não estoura */
    height: 100%;
    background-color: rgb(30, 30, 30);

    border-radius: 20px;
    flex-shrink: 0;

    scroll-snap-align: center;
}

#carousel-dots {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: #555;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.dot.active {
    background-color: white;
    transform: scale(1.3);
}

.slide-push {
    animation: pushSlide 0.40s ease;
}

@keyframes pushSlide {
    0% { transform: translateX(0); }
    40% { transform: translateX(-40px); }  /* empurra */
    100% { transform: translateX(0); }   }

@keyframes roda {
    to {
        transform: rotate(0);
    }

    from {
        transform: rotate(360deg);
    }
}